---
title: Lyu Lab People
layout: default
group: members
---

<h1>People</h1>

<p>The Lyu lab welcomes people of all backgrounds. If you are interested in joining us, please see our <a href="/join">positions</a> page.</p>

{% assign people = site.members | sort: "order" %}
{% for member in people %}
        <hr>
        <div id="{{ member.name }}" class="row" style="padding-top: 60px; margin-top: -60px;">
            <div class="col-sm-4">
                <img class="img-fluid" src="{{ member.image }}" alt="{{ member.name }}" width="365" height="365" loading="lazy" decoding="async" onerror="this.src='/static/img/members/placeholder.svg'"><br>
                <strong>{{ member.name }}</strong> <br>
                {% if member.pronouns %}<em>{{ member.pronouns }}</em> <br>{% endif %}
                {{ member.position | markdownify | remove: '<p>' | remove: '</p>' }} <br>
                <em>{{ member.email }}</em> <br>
                {% if member.website %}
                  <a style="overflow-wrap: break-word;" href="{{ member.website }}">Profile</a> <br>
                {% endif %}
                {% if member.scholar %}
                  <a href="https://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/logo/gscholar_logo.svg"></a>
                  <a href="https://scholar.google.com/citations?user={{ member.scholar }}"> Google Scholar </a> <br>
                {% endif %}
                {% if member.orcid %}
                  <a href="https://orcid.org"><img class="inline-block mem-icon" src="/static/img/logo/orcid_logo.svg"></a>
                  <a href="https://orcid.org/{{ member.orcid }}"> {{ member.orcid }}</a> <br>
                {% endif %}
                {% if member.twitter %}
                  <a href="https://twitter.com"><img class="inline-block mem-icon" src="/static/img/logo/twitter_logo.svg"></a>
                  <a href="https://twitter.com/{{ member.twitter }}"> @{{ member.twitter }} </a> <br>
                {% endif %}
                {% if member.github %}
                  <a href="https://github.com"><img class="inline-block mem-icon" src="/static/img/logo/github_logo.svg"></a>
                  <a href="https://github.com/{{ member.github }}"> {{ member.github }} </a> <br>
                {% endif %}
                {% if member.linkedin %}
                  <a href="https://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/logo/linkedin_logo.svg"></a>
                  <a href="https://www.linkedin.com/in/{{ member.linkedin }}"> LinkedIn </a> <br>
                {% endif %}
            </div>
            <div class="col-sm-8">
                {% if member.education %}<p class="text-muted"><small>{{ member.education }}</small></p>{% endif %}
                {{ member.description | markdownify }}
            </div>
        </div>
{% endfor %}
